@import '_mixins';

.eventpressos-metabox-container {
	@include clearfix;
	* {
		box-sizing: border-box;
	}
	&.eventpresso-metabox-has-tab {
	}
	ul.eventpresso-tabs-container {
		margin: 10px 0 0;
		width: 20%;
		float: left;
		position: relative;
		z-index: 2;
		li.eventpresso-tab-container {
			margin: 0;
			padding: 5px 10px;
			margin-bottom: 5px;
			margin-right: -1px;
			border-top-left-radius: 3px;
			border-bottom-left-radius: 3px;
			background-color: darken(#fff, 2%);
			border: 1px solid darken(#fff, 15%);
			cursor: pointer;
			a {
				color: #000;
				text-decoration: none;
				outline: none;
			}
			&:hover {
				background-color: darken(#fff, 5%);
			}
			&.eventpresso-tab-active {
				background-color: #fff;
				border-right-color: #fff;
			}
		}
	}

	.eventpresso-fields-container {
		.eventpresso-field-container {
			&.eventpresso-field-hidden {
				display: none;
			}
			&.eventpresso-field-visible {
				display: block;
			}
			.eventpresso-field-label {
			}
			.eventpresso-field-content {
				.eventpresso-field-control {
				}
				.eventpresso-field-text {
				}
			}
		}
	}
	&.eventpresso-metabox-has-tabs {
		.eventpresso-fields-container {
			min-height: 200px;
			position: relative;
			z-index: 1;
			width: 80%;
			padding-left: 20px;
			border-left: 1px solid darken(#fff, 15%);
			float: left;
		}
	}
}